@model DataLayer.Slider

@{
    ViewBag.Title = "حذف اسلاید";
}
<br />
<h2>ایا از حذف اسلاید مطمعن هستید؟</h2>
<br />
<div>
    <table class="table table-bordered">
        <tr>
            <th>عکس اسلاید</th>
            <th>عنوان اسلاید</th>
            <th>لینک اسلاید</th>
        </tr>
        <tr>
            <td>
                <img src="/Images/Slider/@Model.ImageName" style="width: 120px; height: 100px" class="thumbnail"/>
            </td>
            <td>
                @Model.Title
            </td>
            <td>
                <a href="@Model.Link">@Model.Link</a>
            </td>
        </tr>
    </table>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        @Html.ActionLink("بازگشت به لیست", "Index")
    </div>
}
</div>
