@model IEnumerable<DataLayer.Product>

@{
    ViewBag.Title = "Index";
}

<br/>
<h2 class="font-tahoma">لیست محصولات</h2>
<br/>

<p>
    <a class="btn btn-success" href="@Url.Action("Create")">افزودن محصول جدید</a>
</p>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            گروه های محصول
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img src="/Images/ProductImages/Thumb/@item.ImageName" alt="@item.Title" class="thumbnail" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @if (item.Product_Selected_Groups.Any())
        {
            <ol>
                @foreach (var group in item.Product_Selected_Groups)
                {
                    <li>@group.Product_Groups.GroupTitle</li>
                }
            </ol>
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @item.CreateDate.ToString("dddd, dd MMMM yyyy")
    </td>

    <td>
        <a class="btn btn-default btn-xs" href="@Url.Action("ProductFeature",new {id = @item.ProductID})">ویژگی های محصول</a>
        <a class="btn btn-info btn-xs" href="@Url.Action("Gallery",new {id = @item.ProductID})">گالری محصولات</a>
        <a class="btn btn-warning btn-xs" href="@Url.Action("Edit",new {id = @item.ProductID})">ویراش محصول</a>
        <a class="btn btn-danger btn-xs" href="@Url.Action("Delete",new {id = @item.ProductID})">حذف محصول</a>
    </td>
</tr>
}

</table>
